.form-border
  .form-container
    - if @message.errors.any?
      = render partial: 'shared/error_messages'
    - if user_signed_in?
      = render partial: 'form'
    - else
      %h3
        You must be signed in and have credits to send a message.
